* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(214, 47%, 23%);
    margin-right: 5%;
}



.paper2, .scissor3, .rock1{
    display: flex;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border: 20px solid hsl(230, 89%, 62%);
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px rgb(68, 68, 68);
    cursor: pointer;
}

.rock1{
    border-color: hsl(349, 71%, 52%);
}

.scissor3{
    border-color: hsl(39, 89%, 49%);
}


.score p{
    color: hsl(229, 25%, 31%);
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 700px;
    display: flex;
    justify-content: space-between;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.header .score{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10%;
    margin: 0;
}

.header .score p{
    margin: 0;
    margin-top: 5px;
    color: hsl(217, 16%, 45%);
    font-size: 20px;
}
.header .score .num{
    margin: 0;
    font-size: 60px;
    margin-bottom: 5px;
}

.triangle{
    position: absolute; 
    z-index: 2;
    margin-top: 350px
}


.gameplay{
    position: absolute;
    padding: 5px;
    z-index: 3;
    margin-top: 700px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.paper2:active, .scissor3:active, .rock1:active{
    position: relative;
    top: 1px;
}

.gameplay .top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
}

.gameplay .bottom{
    display: flex;
    justify-content: center;
}

.options{
    display: flex;
    gap: 20px;
}

.btns{
    width: 50px;
    color: grey;
    border: 1px solid hsl(217, 16%, 45%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.btns:active{
    position: relative;
    top: 1px;
}

.btns.startOver{
    width: 80px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: flex-start;
    animation: fadeOut 0.2s ease-in-out forwards;
} 

.container.container-show{
    animation: fadeIn 0.5s ease-in-out forwards;
}

.container.container-hide {
    animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.rules{
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    flex-direction: row;
    width: 350px;
    align-items: center;
}

.rules .close{
    margin-bottom: 100%;
    cursor: pointer;
}

.rules .close:active{
    position: relative;
    top: 1px;
}

.center{
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: white;
}

.showWhoWon {
    color: white;
    font-size: 50px;

}


@media screen and (max-width: 760px){
    .header{
        width: 90%;
    }
}

@media screen and (max-width: 400px){
    .showWhoWon{
        font-size: 30px;
    }
}

